In [1]:
import pandas as pd
df=pd.read_csv('C://Users/dasgu/Desktop/MyImp/Code/aiml/heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [2]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [4]:
df1=df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [5]:
df1[df1.MaxHR>(df1.MaxHR.mean()+3*df1.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [6]:
df1[df1.FastingBS>(df1.FastingBS.mean()+3*df1.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [7]:
df1[df1.RestingBP>(df1.RestingBP.mean()+3*df1.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [8]:
df2 = df1[df1.RestingBP<=(df1.RestingBP.mean()+3*df1.RestingBP.std())]
df2.shape

(908, 12)

In [9]:
df2[df2.Oldpeak>(df2.Oldpeak.mean()+3*df2.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [10]:
df3 = df2[df2.Oldpeak<=(df2.Oldpeak.mean()+3*df2.Oldpeak.std())]
df3.shape

(902, 12)

In [11]:
df3.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [12]:
df3.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [15]:
df4=df3.copy()
df4.RestingECG.replace({'Normal':1,'ST':2,'LVH':3},inplace=True)
df4.ST_Slope.replace({'Up':1,'Flat':2,'Down':3},inplace=True)
df4.head()

C:\Users\dasgu\AppData\Local\Temp\ipykernel_21868\4120297687.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4.RestingECG.replace({'Normal':1,'ST':2,'LVH':3},inplace=True)
C:\Users\dasgu\AppData\Local\Temp\ipykernel_21868\4120297687.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4.RestingECG.replace({'Normal':1,'ST':2,'LVH':3},inplace=True)
C:\Users\dasgu\AppData\Local\Temp\ipykernel_21868\4120297687.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4.ST_Slope.replace({'Up':1,'Flat':2,'Down':3},inplace=True)
C:\Users\dasgu\AppData\Local\Temp\ipykernel_21868\4120297687.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4.ST_Slope.replace({'Up':1,'Flat':2,'Down':3},inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,N,0.0,1,0
1,49,F,NAP,160,180,0,1,156,N,1.0,2,1
2,37,M,ATA,130,283,0,2,98,N,0.0,1,0
3,48,F,ASY,138,214,0,1,108,Y,1.5,2,1
4,54,M,NAP,150,195,0,1,122,N,0.0,1,0

In [16]:
df5=pd.get_dummies(df4,drop_first=True).astype(int)
df5.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,ExerciseAngina_Y
0,40,140,289,0,1,172,0,1,0,1,1,0,0,0
1,49,160,180,0,1,156,1,2,1,0,0,1,0,0
2,37,130,283,0,2,98,0,1,0,1,1,0,0,0
3,48,138,214,0,1,108,1,2,1,0,0,0,0,1
4,54,150,195,0,1,122,0,1,0,1,0,1,0,0

In [17]:
X = df5.drop("HeartDisease",axis='columns')
y = df5.HeartDisease
X.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,ExerciseAngina_Y
0,40,140,289,0,1,172,0,1,1,1,0,0,0
1,49,160,180,0,1,156,1,2,0,0,1,0,0
2,37,130,283,0,2,98,0,1,1,1,0,0,0
3,48,138,214,0,1,108,1,2,0,0,0,0,1
4,54,150,195,0,1,122,0,1,1,0,1,0,0

In [18]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_scale=scaler.fit_transform(X)
X_scale

array([[-1.42896269,  0.46089071,  0.85238015, ..., -0.53547478,
        -0.22914788, -0.82065181],
       [-0.47545956,  1.5925728 , -0.16132855, ...,  1.86750159,
        -0.22914788, -0.82065181],
       [-1.74679706, -0.10495034,  0.79657967, ..., -0.53547478,
        -0.22914788, -0.82065181],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.53547478,
        -0.22914788,  1.21854359],
       [ 0.37209878, -0.10495034,  0.35947592, ..., -0.53547478,
        -0.22914788, -0.82065181],
       [-1.64085227,  0.3477225 , -0.20782894, ...,  1.86750159,
        -0.22914788, -0.82065181]])

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scale, y, test_size=0.2, random_state=30)

In [20]:
X_train.shape

(721, 13)

In [21]:
X_test.shape

(181, 13)

In [22]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
scores=cross_val_score(SVC(),X,y,cv=5)
scores.mean()

0.6906445672191528

In [26]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(estimator=SVC(), n_estimators=100, max_samples=0.8, oob_score=True,random_state=0)
scores = cross_val_score(bag_model, X, y, cv=5)
scores.mean()

0.6839656230816453

In [25]:
from sklearn.tree import DecisionTreeClassifier
scores = cross_val_score(DecisionTreeClassifier(random_state=0), X, y, cv=5)
scores.mean()

0.7249785144260282

In [28]:
bag_model = BaggingClassifier(estimator=DecisionTreeClassifier(random_state=0),n_estimators=100,max_samples=0.9,oob_score=True,random_state=0)
scores = cross_val_score(bag_model, X, y, cv=5)
scores.mean()

0.7959484346224677